.root {
  position: relative;
  width: 24px;
  height: 24px;
  align-items: flex-start;
  overflow: hidden;
}
.vector {
  position: absolute;
  left: 12.8895%;
  right: 12.893%;
  top: 25%;
  bottom: 25%;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
