.icon {
  width: 100%;
  height: 100%;
}
.root {
  height: min-content;
  align-self: stretch;
  padding: 8px 12px;
  border-radius: 6px;
  background-color: #344054;
  overflow: hidden;
}
.content {
  width: min-content;
  height: min-content;
  align-self: flex-start;
  align-items: center;
  gap: 12px;
}
.text {
  color: #f2f4f7;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
