.root {
  width: 24px;
  height: min-content;
  flex-direction: column;
  align-items: center;
  padding: 1px 3px;
  border-radius: 4px;
}
._24 {
  color: #00000040;
  font-size: 14px;
  line-height: 22px;
  font-family: SF Pro Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 24px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
