.iconLeftOutlined.iconLeftOutlined {
  left: 55.5556%;
  right: 0;
  top: 0;
  bottom: 0;
  width: 16px;
  height: 16px;
}
.icon {
  width: 100%;
  height: 100%;
}
.iconDoubleLeftOutlined.iconDoubleLeftOutlined {
  left: 0;
  top: 0;
  bottom: 0;
  width: 16px;
  height: 16px;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.iconDoubleRightOutlined.iconDoubleRightOutlined {
  left: 55.5556%;
  right: 0;
  top: 0;
  bottom: 0;
  width: 16px;
  height: 16px;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.iconRightOutlined.iconRightOutlined {
  left: 0;
  right: 55.5556%;
  top: 0;
  bottom: 0;
  width: 16px;
  height: 16px;
}
.icon4 {
  width: 100%;
  height: 100%;
}
.datePickerMenuItem.datePickerMenuItem {
  border-radius: 6px;
}
._24 {
  color: #000000e0;
  font-size: 14px;
  line-height: 22px;
  font-family: SF Pro Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 24px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.datePickerMenuItem2.datePickerMenuItem2 {
  border-radius: 6px;
}
._242 {
  color: #000000e0;
  font-size: 14px;
  line-height: 22px;
  font-family: SF Pro Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 24px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.datePickerMenuItem3.datePickerMenuItem3 {
  border-radius: 6px;
}
._243 {
  color: #000000e0;
  font-size: 14px;
  line-height: 22px;
  font-family: SF Pro Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 24px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.datePickerMenuItem4.datePickerMenuItem4 {
  border-radius: 6px;
}
._244 {
  color: #000000e0;
  font-size: 14px;
  line-height: 22px;
  font-family: SF Pro Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 24px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.datePickerMenuItem5.datePickerMenuItem5 {
  border-radius: 6px;
}
._245 {
  color: #000000e0;
  font-size: 14px;
  line-height: 22px;
  font-family: SF Pro Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 24px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.datePickerMenuItem6.datePickerMenuItem6 {
  border-radius: 6px;
}
._246 {
  color: #000000e0;
  font-size: 14px;
  line-height: 22px;
  font-family: SF Pro Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 24px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.datePickerMenuItem7.datePickerMenuItem7 {
  border-radius: 6px;
}
._247 {
  color: #000000e0;
  font-size: 14px;
  line-height: 22px;
  font-family: SF Pro Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 24px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.datePickerMenuItem8.datePickerMenuItem8 {
  border-radius: 6px;
}
._248 {
  color: #00000040;
  font-size: 14px;
  line-height: 22px;
  font-family: SF Pro Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 24px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.datePickerMenuItem9.datePickerMenuItem9 {
  border-radius: 6px;
}
._249 {
  color: #00000040;
  font-size: 14px;
  line-height: 22px;
  font-family: SF Pro Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 24px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.datePickerMenuItem10.datePickerMenuItem10 {
  border-radius: 6px;
}
._2410 {
  color: #000000e0;
  font-size: 14px;
  line-height: 22px;
  font-family: SF Pro Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  width: 24px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.datePickerMenuItem11.datePickerMenuItem11 {
  border-radius: 6px;
}
._2411 {
  color: #000000e0;
  font-size: 14px;
  line-height: 22px;
  font-family: SF Pro Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 24px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.datePickerMenuItem12.datePickerMenuItem12 {
  border-radius: 6px;
}
._2412 {
  color: #000000e0;
  font-size: 14px;
  line-height: 22px;
  font-family: SF Pro Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 24px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.datePickerMenuItem13.datePickerMenuItem13 {
  border-radius: 6px;
}
._2413 {
  color: #000000e0;
  font-size: 14px;
  line-height: 22px;
  font-family: SF Pro Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 24px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.datePickerMenuItem14.datePickerMenuItem14 {
  border-radius: 6px;
}
._2414 {
  color: #000000e0;
  font-size: 14px;
  line-height: 22px;
  font-family: SF Pro Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 24px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.datePickerMenuItem15.datePickerMenuItem15 {
  border-radius: 6px;
}
._2415 {
  color: #000000e0;
  font-size: 14px;
  line-height: 22px;
  font-family: SF Pro Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 24px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.datePickerMenuItem16.datePickerMenuItem16 {
  border-radius: 6px;
}
._2416 {
  color: #000000e0;
  font-size: 14px;
  line-height: 22px;
  font-family: SF Pro Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 24px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.datePickerMenuItem17.datePickerMenuItem17 {
  border-radius: 6px;
}
._2417 {
  color: #000000e0;
  font-size: 14px;
  line-height: 22px;
  font-family: SF Pro Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 24px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.datePickerMenuItem18.datePickerMenuItem18 {
  border-radius: 6px;
}
._2418 {
  color: #000000e0;
  font-size: 14px;
  line-height: 22px;
  font-family: SF Pro Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 24px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.datePickerMenuItem19.datePickerMenuItem19 {
  border-radius: 6px;
}
._2419 {
  color: #000000e0;
  font-size: 14px;
  line-height: 22px;
  font-family: SF Pro Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 24px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.datePickerMenuItem20.datePickerMenuItem20 {
  border-radius: 6px;
}
._2420 {
  color: #000000e0;
  font-size: 14px;
  line-height: 22px;
  font-family: SF Pro Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 24px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.datePickerMenuItem21.datePickerMenuItem21 {
  border-radius: 6px;
}
._2421 {
  color: #000000e0;
  font-size: 14px;
  line-height: 22px;
  font-family: SF Pro Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 24px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.datePickerMenuItem22.datePickerMenuItem22 {
  border-radius: 6px;
}
._2422 {
  color: #000000e0;
  font-size: 14px;
  line-height: 22px;
  font-family: SF Pro Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 24px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.datePickerMenuItem23.datePickerMenuItem23 {
  border-radius: 6px;
}
._2423 {
  color: #000000e0;
  font-size: 14px;
  line-height: 22px;
  font-family: SF Pro Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 24px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.datePickerMenuItem24.datePickerMenuItem24 {
  border-radius: 6px;
}
._2424 {
  color: #000000e0;
  font-size: 14px;
  line-height: 22px;
  font-family: SF Pro Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 24px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.datePickerMenuItem25.datePickerMenuItem25 {
  border-radius: 6px;
}
._2425 {
  color: #000000e0;
  font-size: 14px;
  line-height: 22px;
  font-family: SF Pro Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 24px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.datePickerMenuItem26.datePickerMenuItem26 {
  border-radius: 6px;
}
._2426 {
  color: #000000e0;
  font-size: 14px;
  line-height: 22px;
  font-family: SF Pro Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 24px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.datePickerMenuItem27.datePickerMenuItem27 {
  border-radius: 6px;
}
._2427 {
  color: #000000e0;
  font-size: 14px;
  line-height: 22px;
  font-family: SF Pro Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 24px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.datePickerMenuItem28.datePickerMenuItem28 {
  border-radius: 6px;
}
._2428 {
  color: #000000e0;
  font-size: 14px;
  line-height: 22px;
  font-family: SF Pro Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 24px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.datePickerMenuItem29.datePickerMenuItem29 {
  border-radius: 6px;
}
._2429 {
  color: #000000e0;
  font-size: 14px;
  line-height: 22px;
  font-family: SF Pro Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 24px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.datePickerMenuItem30.datePickerMenuItem30 {
  border-radius: 6px;
}
._2430 {
  color: #000000e0;
  font-size: 14px;
  line-height: 22px;
  font-family: SF Pro Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 24px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.datePickerMenuItem31.datePickerMenuItem31 {
  border-radius: 6px;
}
._2431 {
  color: #000000e0;
  font-size: 14px;
  line-height: 22px;
  font-family: SF Pro Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 24px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.datePickerMenuItem32.datePickerMenuItem32 {
  border-radius: 6px;
}
._2432 {
  color: #000000e0;
  font-size: 14px;
  line-height: 22px;
  font-family: SF Pro Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 24px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.datePickerMenuItem33.datePickerMenuItem33 {
  border-radius: 6px;
}
._2433 {
  color: #000000e0;
  font-size: 14px;
  line-height: 22px;
  font-family: SF Pro Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 24px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.datePickerMenuItem34.datePickerMenuItem34 {
  border-radius: 6px;
}
._2434 {
  color: #000000e0;
  font-size: 14px;
  line-height: 22px;
  font-family: SF Pro Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 24px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.datePickerMenuItem35.datePickerMenuItem35 {
  border-radius: 6px;
}
._2435 {
  color: #000000e0;
  font-size: 14px;
  line-height: 22px;
  font-family: SF Pro Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 24px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.datePickerMenuItem36.datePickerMenuItem36 {
  border-radius: 6px;
}
._2436 {
  color: #000000e0;
  font-size: 14px;
  line-height: 22px;
  font-family: SF Pro Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 24px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.datePickerMenuItem37.datePickerMenuItem37 {
  border-radius: 6px;
}
._2437 {
  color: #000000e0;
  font-size: 14px;
  line-height: 22px;
  font-family: SF Pro Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 24px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.datePickerMenuItem38.datePickerMenuItem38 {
  border-radius: 6px;
}
._2438 {
  color: #000000e0;
  font-size: 14px;
  line-height: 22px;
  font-family: SF Pro Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 24px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.datePickerMenuItem39.datePickerMenuItem39 {
  border-radius: 6px;
}
._2439 {
  color: #000000e0;
  font-size: 14px;
  line-height: 22px;
  font-family: SF Pro Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 24px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.datePickerMenuItem40.datePickerMenuItem40 {
  border-radius: 6px;
}
._2440 {
  color: #000000e0;
  font-size: 14px;
  line-height: 22px;
  font-family: SF Pro Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 24px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.datePickerMenuItem41.datePickerMenuItem41 {
  border-radius: 6px;
}
._2441 {
  color: #00000040;
  font-size: 14px;
  line-height: 22px;
  font-family: SF Pro Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 24px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.datePickerMenuItem42.datePickerMenuItem42 {
  border-radius: 6px;
}
._2442 {
  color: #00000040;
  font-size: 14px;
  line-height: 22px;
  font-family: SF Pro Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 24px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.datePickerMenuItem43.datePickerMenuItem43 {
  border-radius: 6px;
}
._2443 {
  color: #00000040;
  font-size: 14px;
  line-height: 22px;
  font-family: SF Pro Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 24px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.datePickerMenuItem44.datePickerMenuItem44 {
  border-radius: 6px;
}
._2444 {
  color: #00000040;
  font-size: 14px;
  line-height: 22px;
  font-family: SF Pro Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 24px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.datePickerMenuItem45.datePickerMenuItem45 {
  border-radius: 6px;
}
._2445 {
  color: #00000040;
  font-size: 14px;
  line-height: 22px;
  font-family: SF Pro Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 24px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.datePickerMenuItem46.datePickerMenuItem46 {
  border-radius: 6px;
}
._2446 {
  color: #00000040;
  font-size: 14px;
  line-height: 22px;
  font-family: SF Pro Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 24px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.datePickerMenuItem47.datePickerMenuItem47 {
  border-radius: 6px;
}
._2447 {
  color: #00000040;
  font-size: 14px;
  line-height: 22px;
  font-family: SF Pro Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 24px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.datePickerMenuItem48.datePickerMenuItem48 {
  border-radius: 6px;
}
._2448 {
  color: #00000040;
  font-size: 14px;
  line-height: 22px;
  font-family: SF Pro Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 24px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.datePickerMenuItem49.datePickerMenuItem49 {
  border-radius: 6px;
}
._2449 {
  color: #00000040;
  font-size: 14px;
  line-height: 22px;
  font-family: SF Pro Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 24px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.button {
  color: #1677ff;
  font-size: 14px;
  line-height: 157.15%;
  font-family: SF Pro Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.root {
  width: 280px;
  height: min-content;
  flex-direction: column;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: ;
}
.header {
  height: min-content;
  align-self: stretch;
  place-content: space-between;
  align-items: center;
  padding: 9px 8px;
  box-shadow: inset 0px -1px 0px #0000000f;
}
.navigation {
  position: relative;
  width: 36px;
  height: 16px;
}
.dec2020 {
  color: #000000e0;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  font-family: SF Pro Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.navigation2 {
  position: relative;
  width: 36px;
  height: 16px;
}
.content {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  padding: 8px 12px;
}
.row {
  height: min-content;
  align-self: stretch;
  align-items: flex-start;
}
.cellWrapper {
  height: min-content;
  flex: 1;
  place-content: center;
  padding: 3px 6px;
}
.cellWrapper2 {
  height: min-content;
  flex: 1;
  place-content: center;
  padding: 3px 6px;
}
.cellWrapper3 {
  height: min-content;
  flex: 1;
  place-content: center;
  padding: 3px 6px;
}
.cellWrapper4 {
  height: min-content;
  flex: 1;
  place-content: center;
  padding: 3px 6px;
}
.cellWrapper5 {
  height: min-content;
  flex: 1;
  place-content: center;
  padding: 3px 6px;
}
.cellWrapper6 {
  height: min-content;
  flex: 1;
  place-content: center;
  padding: 3px 6px;
}
.cellWrapper7 {
  height: min-content;
  flex: 1;
  place-content: center;
  padding: 3px 6px;
}
.row2 {
  height: min-content;
  align-self: stretch;
  align-items: flex-start;
}
.cellWrapper8 {
  height: min-content;
  flex: 1;
  place-content: center;
  padding: 3px 6px;
}
.cellWrapper9 {
  height: min-content;
  flex: 1;
  place-content: center;
  padding: 3px 6px;
}
.cellWrapper10 {
  height: min-content;
  flex: 1;
  place-content: center;
  padding: 3px 6px;
}
.cellWrapper11 {
  height: min-content;
  flex: 1;
  place-content: center;
  padding: 3px 6px;
}
.cellWrapper12 {
  height: min-content;
  flex: 1;
  place-content: center;
  padding: 3px 6px;
}
.cellWrapper13 {
  height: min-content;
  flex: 1;
  place-content: center;
  padding: 3px 6px;
}
.cellWrapper14 {
  height: min-content;
  flex: 1;
  place-content: center;
  padding: 3px 6px;
}
.row3 {
  height: min-content;
  align-self: stretch;
  align-items: flex-start;
}
.cellWrapper15 {
  height: min-content;
  flex: 1;
  place-content: center;
  padding: 3px 6px;
}
.cellWrapper16 {
  height: min-content;
  flex: 1;
  place-content: center;
  padding: 3px 6px;
}
.cellWrapper17 {
  height: min-content;
  flex: 1;
  place-content: center;
  padding: 3px 6px;
}
.cellWrapper18 {
  height: min-content;
  flex: 1;
  place-content: center;
  padding: 3px 6px;
}
.cellWrapper19 {
  height: min-content;
  flex: 1;
  place-content: center;
  padding: 3px 6px;
}
.cellWrapper20 {
  height: min-content;
  flex: 1;
  place-content: center;
  padding: 3px 6px;
}
.cellWrapper21 {
  height: min-content;
  flex: 1;
  place-content: center;
  padding: 3px 6px;
}
.row4 {
  height: min-content;
  align-self: stretch;
  align-items: flex-start;
}
.cellWrapper22 {
  height: min-content;
  flex: 1;
  place-content: center;
  padding: 3px 6px;
}
.cellWrapper23 {
  height: min-content;
  flex: 1;
  place-content: center;
  padding: 3px 6px;
}
.cellWrapper24 {
  height: min-content;
  flex: 1;
  place-content: center;
  padding: 3px 6px;
}
.cellWrapper25 {
  height: min-content;
  flex: 1;
  place-content: center;
  padding: 3px 6px;
}
.cellWrapper26 {
  height: min-content;
  flex: 1;
  place-content: center;
  padding: 3px 6px;
}
.cellWrapper27 {
  height: min-content;
  flex: 1;
  place-content: center;
  padding: 3px 6px;
}
.cellWrapper28 {
  height: min-content;
  flex: 1;
  place-content: center;
  padding: 3px 6px;
}
.row5 {
  height: min-content;
  align-self: stretch;
  align-items: flex-start;
}
.cellWrapper29 {
  height: min-content;
  flex: 1;
  place-content: center;
  padding: 3px 6px;
}
.cellWrapper30 {
  height: min-content;
  flex: 1;
  place-content: center;
  padding: 3px 6px;
}
.cellWrapper31 {
  height: min-content;
  flex: 1;
  place-content: center;
  padding: 3px 6px;
}
.cellWrapper32 {
  height: min-content;
  flex: 1;
  place-content: center;
  padding: 3px 6px;
}
.cellWrapper33 {
  height: min-content;
  flex: 1;
  place-content: center;
  padding: 3px 6px;
}
.cellWrapper34 {
  height: min-content;
  flex: 1;
  place-content: center;
  padding: 3px 6px;
}
.cellWrapper35 {
  height: min-content;
  flex: 1;
  place-content: center;
  padding: 3px 6px;
}
.row6 {
  height: min-content;
  align-self: stretch;
  align-items: flex-start;
}
.cellWrapper36 {
  height: min-content;
  flex: 1;
  place-content: center;
  padding: 3px 6px;
}
.cellWrapper37 {
  height: min-content;
  flex: 1;
  place-content: center;
  padding: 3px 6px;
}
.cellWrapper38 {
  height: min-content;
  flex: 1;
  place-content: center;
  padding: 3px 6px;
}
.cellWrapper39 {
  height: min-content;
  flex: 1;
  place-content: center;
  padding: 3px 6px;
}
.cellWrapper40 {
  height: min-content;
  flex: 1;
  place-content: center;
  padding: 3px 6px;
}
.cellWrapper41 {
  height: min-content;
  flex: 1;
  place-content: center;
  padding: 3px 6px;
}
.cellWrapper42 {
  height: min-content;
  flex: 1;
  place-content: center;
  padding: 3px 6px;
}
.row7 {
  height: min-content;
  align-self: stretch;
  align-items: flex-start;
}
.cellWrapper43 {
  height: min-content;
  flex: 1;
  place-content: center;
  padding: 3px 6px;
}
.cellWrapper44 {
  height: min-content;
  flex: 1;
  place-content: center;
  padding: 3px 6px;
}
.cellWrapper45 {
  height: min-content;
  flex: 1;
  place-content: center;
  padding: 3px 6px;
}
.cellWrapper46 {
  height: min-content;
  flex: 1;
  place-content: center;
  padding: 3px 6px;
}
.cellWrapper47 {
  height: min-content;
  flex: 1;
  place-content: center;
  padding: 3px 6px;
}
.cellWrapper48 {
  height: min-content;
  flex: 1;
  place-content: center;
  padding: 3px 6px;
}
.cellWrapper49 {
  height: min-content;
  flex: 1;
  place-content: center;
  padding: 3px 6px;
}
.footer {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  padding: 9px 0;
  box-shadow: inset 0px 1px 0px #0000000f;
}
