.root {
  width: min-content;
  height: min-content;
  padding: 1px 8px;
  outline: solid 1px #adc6ff;
  outline-offset: -1px;
  border-radius: 4px;
  background-color: #f0f5ff;
}
.geekblue {
  color: #2f54eb;
  font-size: 12px;
  line-height: 20px;
  font-family: SF Pro Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
